<div class="card col s12">
    <div id="content-prova" class="card-content">
        <div style="text-align: justify">
        <p>ESCOLA MUNICIPAL __________________________________________________________________________________________</p>

        <p>ALUNO(A): ____________________________________________________________________________________________________</p>

        <p>TERESINA (PI) __________ DE ______________ DE 2017.                  Turma: ______________</p>
        </div>
        <br><br>
        <div style="background-color:black;color:white;padding:10px;text-align: center">
            Prova Padronizada – {{prova.bimestre}} Bimestre - {{prova.area.area}} - {{prova.serie.serie}} - {{prova.ano}}
        </div>
        <br><br>
        <div>
            <ul #listaQuestao id="listaQuestao">
            </ul>
        </div>
    </div>
    <div class="fixed-action-btn toolbar">
        <a class="btn-floating btn-large red pulse">
            <i class="ion-md-menu"></i>
        </a>
        <ul>
            <li><a (click)="ExportDocx()" class="word btn waves-effect waves-purple"><i class="ion-md-paper"></i> WORD</a></li>
            <li><a (click)="ExportPDF()" class="pdf btn waves-effect waves-orange"><i class="ion-ios-book"></i> PDF</a></li>
        </ul>
    </div>
</div>