<div class="card col s12">
    <div id="content-prova" class="card-content">
        <div class="right-align">
            <img  width="300px" height="80px" src="../assets/LogoSemec.png"/>
        </div>
        <!--<spinner></spinner>-->
        <div style="text-align: justify">
        <p>ESCOLA MUNICIPAL __________________________________________________________________________________________</p>

        <p>ALUNO(A): ____________________________________________________________________________________________________</p>

        <p>TERESINA (PI) __________ DE ______________ DE 2017.                  Turma: ______________</p>
        </div>
        <br><br>
        <div style="background-color:black;color:white;padding:10px;text-align: center">
            {{prova.titulo}}
        </div>
        <br><br>
        <div>
            <ul #listaQuestao id="listaQuestao">
            </ul>
        </div>
        <br><br>
        <div>
            <h4>Gabarito</h4>
            <table border="2" bordercolor="#000000" style="text-align: center">
                <thead>
                <th>Questão</th>
                <th>Item</th>
                </thead>
                <tbody id="gabaritobody">

                </tbody>
            </table>
        </div>
    </div>
    <div class="fixed-action-btn toolbar">
        <a class="btn-floating btn-large red pulse">
            <i class="ion-md-menu"></i>
        </a>
        <ul>
            <li><a (click)="ExportDocx()" class="waves-effect waves-purple blue"><i class="ion-md-paper"></i> WORD</a></li>
            <li><a (click)="ExportPDF()" class="waves-effect waves-orange"><i class="ion-ios-book"></i> PDF</a></li>
            <li><a class="waves-effect waves-orange blue-grey" [routerLink]="['/provas']"><i class="ion-md-arrow-back"></i> Voltar</a></li>
        </ul>
    </div>
</div>