<div class="row">
    <div class="content-header">
        <h1>Questão <small>Detalhes</small></h1>
        <nav>
            <div class="nav-wrapper2 row">
                <div class="col s12">
                    <a href="#/">Banco de questões</a> >
                    <a [routerLink]="['/provas']">Questões</a> >
                    <span>Detalhes da questão</span>
                </div>
            </div>
        </nav>
    </div>
    <div class="card col s12">
        <div class="card-content">
            <div class="row">
                <div class="col s12">
                    <div class="card-title">Detalhes da Prova</div>
                    <p><b>Código da Prova:</b> {{prova.id}} <b>Área:</b> {{prova.area.area}} </p>
                    <p><b>Série:</b> {{prova.serie.serie}} <b>Ano: </b> {{prova.ano}} </p>
                    <p><b>Bimestre:</b> {{prova.bimestre}}</p>
                </div>
            </div>
            <div class="row">
                <div class="col s12">
                    <a class="btn blue" [routerLink]="['/provas/' + prova.id + '/edit']">Editar</a>
                    <a class="btn red" (click)="delete(prova.id)">Remover</a>
                </div>
            </div>
        </div>
        <div class="card-action">
            <a class="waves-effect waves-light btn" [routerLink]="['/provas']">Voltar</a>
        </div>
    </div>
</div>