<div class="row">
    <div class="content-header">
        <h1>Questão <small>Detalhes</small></h1>
        <nav>
            <div class="nav-wrapper2 row">
                <div class="col s12">
                    <a href="#/">Banco de questões</a> >
                    <a [routerLink]="['/questoes']">Questões</a> >
                    <span>Detalhes da questão</span>
                </div>
            </div>
        </nav>
    </div>
    <div class="card col s12">
        <div class="card-content">
            <div class="row">
                <div class="col s12">
                    <div class="card-title">Detalhes da Questão</div>
                    <p><b>Código da Prova:</b> {{questao.id}} <b>Área:</b> {{questao.area.area}} </p>
                    <p><b>Série:</b> {{questao.serie.serie}} <b>Nível:</b> {{questao.nivel.nivel}} <b>Catégoria:</b> {{questao.categoria.categoria}} </p>
                    <p><b>Habilidade:</b> {{questao.habilidade.codigo}} - {{questao.habilidade.habilidade}}</p>
                </div>
            </div>
            <div class="row">
                <div class="col s12">
                    <a class="btn blue" [routerLink]="['/questoes/' + questao.id + '/edit']">Editar</a>
                    <a class="btn red" (click)="delete(questao.id)">Remover</a>
                </div>
            </div>
        </div>
        <div class="card-action">
            <a class="waves-effect waves-light btn" [routerLink]="['/questoes']">Voltar</a>
        </div>
    </div>
</div>